[package]
name = "wad-rs"
version = "0.1.0"
edition = "2024"

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bin]]
name = "profile"
path = "src/bin/profile.rs"

[profile.release]
opt-level = 3
lto = false
codegen-units = 1

[[bench]]
name = "benchmarks"
harness = false
path = "benches/benchmarks.rs"